* {
    text-align: center;
}

td:nth-child(1) {
    text-align: right;
}

td:nth-child(2) {
    text-align: left;
}

table {
    margin: auto;
}
h1, p {
font-family: 'Ubuntu', sans-serif;
}

caption {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
}